%section.reset_password
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
      %header.text-center
        %h1 Reset Your Password
      = form_tag password_resets_path do
        %fieldset.form-group
          = label_tag :password, "New Password"
          = hidden_field_tag :token, @token
          = password_field_tag "password", nil, class: "form-control"
        %fieldset.form-group.action
          = submit_tag "Reset Password", class: "btn btn-primary"
