%section.search
  %h2.results_count Showing #{ @videos.count } of #{ pluralize(@videos.total_count, "Video") }
  .row
    - @videos.each do |video|
      .video.video.col-xs-6.col-sm-3.col-md-2
        .custom_thumb
          = link_to(video_path(video.id)) do
            - if video.photo.blank?
              ''
            - else
              = image_tag video.photo
= paginate @videos
