%article.video.row
  .col-lg-7.col-lg-offset-1
    .embed-responsive.embed-responsive-16by9
      = @video.youtube_iframe

  .video_info.col-lg-3
    %header
      %h3
        = @video.title
      %h4
        Rating:
        = @video.print_average_video_rating
    %p
      = @video.description
    .actions
      = @video.add_to_queue_button(current_user)

%section.reviews.row
  .col-lg-10.col-lg-offset-1
    %form#review_form{ action: "/reviews", method: "post", "data-remote" => "true" }
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :video_id, @video.id
      %fieldset
        .form-group
          %label Rate this video
          .row
            .col-lg-3
              %select.form-control(name="rating")
                %option(value="5") 5 Stars
                %option(value="4") 4 Stars
                %option(value="3") 3 Stars
                %option(value="2") 2 Stars
                %option(value="1") 1 Star
        .form-group
          %label Write Review
          .row
            .col-lg-8
              %textarea.form-control(name="content" rows="6")
      %fieldset.form-group.actions.clearfix
        %input(type="submit" value="Submit" class="btn btn-primary")
        %a(href="") Cancel
    #video_reviews
      = render partial: 'videos/reviews'
